<h2>View Employee Details</h2>
<div>
  <div>
    <label> <b> First Name </b> </label> <label style="margin-left: 10px">{{employee.firstName}}</label><br>
    <label><b> Last Name </b> </label> <label style="margin-left: 10px">{{employee.lastName}}</label><br>
    <label><b> Email </b> </label> <label style="margin-left: 10px">{{employee.email}}</label><br>
    <label><b> Job Title </b> </label> <label style="margin-left: 10px">{{employee.jobTitle}}</label><br>
    <label><b> Salary </b> </label> <label style="margin-left: 10px">{{employee.salary}}</label><br>
  </div>
</div>

