<div class="col-md-6 offset-md-3">
  <h3> Update Employee </h3>
  <form (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label> First Name </label>
      <input type="text" class="form-control" id="firstName" [(ngModel)] = "employee.firstName" name="firstName">
      <label> Last Name </label>
      <input type="text" class="form-control" id="lastName" [(ngModel)] = "employee.lastName" name="lastName">
      <label> Email </label>
      <input type="text" class="form-control" id="email" [(ngModel)] = "employee.email" name="email">
      <label> Job Title </label>
      <input type="text" class="form-control" id="jobTitle" [(ngModel)] = "employee.jobTitle" name="jobTitle">
      <label> Salary </label>
      <input type="text" class="form-control" id="salary" [(ngModel)] = "employee.salary" name="salary">

      <button class="btn btn-success" type="submit"> Submit </button>
    </div>
  </form>
</div>