<h2>Current Employees</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Job Title </th>
      <th> Salary </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td> {{ employee.firstName }} </td>
      <td> {{ employee.lastName }} </td>
      <td> {{ employee.email }} </td>
      <td> {{ employee.jobTitle }} </td>
      <td> {{ employee.salary }} </td>
      <td> 
          <button (click) = "updateEmployee(employee.id)" class="btn btn-info">
            Update
          </button>
          <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px" >
            Delete
          </button>
          <button (click) = "viewEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px; background-color: rgb(0, 255, 115)" >
            View
          </button>
      </td>

    </tr>
  </tbody>
</table>
